body {
  font-family: "Hiragino Sans", "Yu Gothic", sans-serif;
  background: linear-gradient(135deg, #cfe9ff 0%, #ffe8f6 100%);
  margin: 0;
  padding: 20px;
  color: #444;
}


section {
  background: #ffffffcf;
  border-radius: 14px;
  padding: 18px 20px;
  margin: 15px auto;
  box-shadow: 0 3px 7px rgba(0,0,0,0.1);
  max-width: 750px;
}


h1, h2 {
  margin-top: 0;
  font-weight: bold;
  letter-spacing: 1px;
}


header h1 {
  font-size: 32px;
  color: #4c76c6;
  text-align: center;
}


section h1, section h2 {
  font-size: 22px;
  color: #ff7faa;
  border-left: 5px solid #ffacd1;
  padding-left: 10px;
  margin-bottom: 8px;
}


p, div {
  font-size: 15px;
  line-height: 1.65;
}


u {
  font-weight: bold;
  color: #c66eb9;
}


em {
  font-style: normal;
  font-weight: bold;
  color: #ff8a5b;
}

/* ページ幅が狭い時対応 */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  section {
    padding: 16px;
  }
  header h1 {
    font-size: 26px;
  }
}

